.app {
  background: $black;
  position: relative;
  @media (max-width: $md) {
    margin-bottom: 30px;
  }
  &__container {
    max-width: $container-px;
    width: 100%;
    margin: 0px auto 60px auto;
    padding: 87px 15px 68px 15px;
    position: relative;
    z-index: 11;
    @media (max-width: $md) {
      padding: 30px 15px;
      margin-bottom: 15px;
    }
  }
  &__title {
    font-size: rem(53px);
    font-weight: 300;
    text-align: left;
    color: $primary;
    @media (max-width: $md) {
      font-size: rem(27px);
    }
  }
  &__content {
    font-size: rem(20px);
    text-align: left;
    color: $white;
    max-width: ($container-px/10)*6.2;
    margin-bottom: 30px;
    @media (max-width: $md) {
      font-size: rem(16px);
    }
    strong {
      font-weight: bold;
      color: $primary;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: ($container-px/10)*6.2;
    flex-wrap: wrap;
  }
  .counter {
    flex: 0 0 ($container-px/10)*3;
    max-width: ($container-px/10)*3;
    @media (max-width: $md) {
      flex: 0 0 100%;
      max-width: 100%;
    }
    &__title {
      border-top-color: $white;
      color: $white;
    }
    &__number {
      color: $white;
    }
  }
  &__downloads {
    a {
      display: block;
      margin-bottom: 20px;
      &:last-of-type {
        margin: 0;
      }
    }
  }
  &__image {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 100%;
    width: auto;
    z-index: 10;
    @media (max-width: $md) {
      position: relative;
      max-width: 80%;
      left: 20%;
    }
  }
}
