.home-section {
  background-color: #ddd;
  padding: 140px 15px 60px 15px;
  @media (max-width: 992px) {
    padding: 30px 15px;
  }
  &__wrapper {
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    max-width: $container-px;
    margin: 0 auto;
  }
  &__content {
    flex: 0 0 40%;
    max-width: 40%;
    font-size: rem(34px);
    font-weight: bold;
    line-height: 1.03;
    text-align: left;
    color: $black;
    padding-bottom: 250px;
    @media (max-width: 992px) {
      font-size: rem(24px);
      flex: 1;
      max-width: 100%;
    }
    span {
      color: $primary;
    }
  }
}