.slide {
  max-width: $container-full-px;
  width: 100%;
  margin: 0px auto 0px auto;
  padding: 75px 0 41px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  @media (max-width: $md) {
    padding: 30px 0;
  }
  &__title {
    font-size: rem(53px);
    font-weight: 300;
    text-align: center;
    color: $white;
    margin: 0 0 36px 0;
    @media (max-width: $md) {
      font-size: rem(25px);
      margin-bottom: 15px;
    }
  }
  &__content {
    max-width: $container-px;
    margin: 0px auto 0px auto;
    padding: 0 15px;
    text-align: center;
  }
  &__item {
    font-size: rem(20px);
    text-align: center;
    color: $white;
    padding: 0 10%;
    @media (max-width: $md) {
      font-size: rem(16px);
    }
  }
  &__item-title {
    font-size: rem(28px);
    font-weight: bold;
    text-align: center;
    color: $white;
    margin: 0 0 24px 0;
    @media (max-width: $md) {
      font-size: rem(20px);
    }
  }
  &__item-logo {
    display: block;
    margin: 20px auto 20px auto;
    .owl-carousel .owl-item & {
      width: auto;
    }
  }
  .owl-nav {
    position: absolute;
    top: 50%;
    height: 32px;
    width: 100%;
    pointer-events: none;
    transform: translateY(-50%);
    @media (max-width: $md) {
      display: none;
    }
    span {
      display: block;
      width: 40px;
      height: 40px;
      text-indent: -99999px;
      border-right: 2px solid $white;
      border-bottom: 2px solid $white;
    }
    button {
      pointer-events: all;
      padding: 0;
      &.owl-next {
        right: 30px;
        position: absolute;
        &:hover {
          span {
            border-color: $primary;
          }
        }
        span {
          transform: rotate(-45deg);
        }
      }
      &.owl-prev {
        left: 0px;
        position: absolute;
        &:hover {
          span {
            border-color: $primary;
          }
        }
        span {
          transform: rotate(-225deg);
        }
      }
      &:focus, &:active {
        outline: none;
      }
    }
  }
  .owl-dots {
    text-align: center;
    .owl-dot {
      width: 12px;
      height: 12px;
      display: inline-block;
      padding: 0;
      margin: 0 4px;
      border: 1px solid $white;
      background-color: transparent;
      border-radius: 50%;
      span {

      }
      &.active {
        background-color: $white;
        span {

        }
      }
    }
  }
}
