.search-archive {
  max-width: $container-px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  input[type=submit] {
    display: none;
  }
  .search-form {
    margin-right: 15px;
    .search-field {
      padding-right: 37px;
      position: relative;
      background: url('../images/icon-search.svg') no-repeat right 10px center;
    }
  }
  .style-select {
    min-width: 200px;
  }
}
