.s-post {
  max-width: $container-px;
  padding: 0 15px;
  margin: 45px auto 83px auto;
  &__image {
    display: block;
    width: 100%;
    margin: 20px 0 45px 0;
  }
  &__title {
    font-size: rem(40px);
    font-weight: bold;
    line-height: 0.88;
    letter-spacing: -0.3px;
    text-align: left;
    color: $primary;
  }
  &__meta {
    font-size: rem(15px);
    letter-spacing: -0.3px;
    text-align: left;
    color: $black;
  }
  &__content {
    font-size: rem(20px);
    font-weight: 300;
    letter-spacing: -0.3px;
    text-align: left;
  }
  .share {
    margin: 56px 0 70px 0;
    &__button {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.news {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .post-block {
    height: 480px;
    min-height: calc(100vw / 3);
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
    padding: 35px 30px;
    color: $white;
    background-color: $black;
    font-size: rem(25px);
    letter-spacing: -0.3;
    line-height: 1;
    position: relative;
    @media (max-width: $lg) {
      flex: 0 0 50%;
      max-width: 50%;
      min-height: 50vw;
      font-size: rem(22px);
    }
    @media (max-width: $md) {
      flex: 0 0 100%;
      max-width: 100%;
      min-height: 0;
      font-size: rem(18px);
    }

    &__title {
      font-size: rem(35px);
      font-weight: bold;
      line-height: 1;
      letter-spacing: -0.3px;
      text-align: left;
      color: $white;
      margin: 0 0 22px 0;
      @media (max-width: $md) {
        font-size: rem(22px);
      }
      a {
        color: inherit;
      }
    }
    &__date {
      font-size: 15px;
      letter-spacing: -0.3px;
      text-align: left;
      margin-top: 30px;
    }
    &__more {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      line-height: 36px;
      text-align: center;
      background: $white;
      color: $primary;
      font-size: rem(35px);
      font-weight: bold;
      position: absolute;
      bottom: 23px;
      right: 23px;
    }
    &__continue {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: -0.3px;
      text-align: left;
      position: absolute;
      bottom: 23px;
      left: 30px;
      &:hover {
        text-decoration: none;
      }
    }
    &--black {
      background-color: $white;
      color: $black;
      .post-block__title {
        color: $black;
      }
    }
    &--featured {
      padding: 0;
      flex: 0 0 100%;
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      color: $black;
      @media (max-width: $md) {
        height: auto;
      }
      .post-block__image {
        flex: 0 0 (100% / 3) * 2;
        width: (100% / 3) * 2;
        max-width: (100% / 3) * 2;
        height: 480px;
        min-height: calc(100vw / 3);
        object-fit: cover;
        @media (max-width: $lg) {
          flex: 0 0 50%;
          max-width: 50%;
          min-height: 50vw
        }
        @media (max-width: $md) {
          flex: 0 0 100%;
          width: 100%;
          max-width: 100%;
          min-height: 50;
          height: auto;
        }
      }
      .post-block__info {
        padding: 35px 30px;
        color: $black;
        position: relative;
        background: $white;
        @media (max-width: $md) {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
      .post-block__title {
        color: $primary;
      }
    }
  }
  &__more {
    display: block;
    width: 280px;
    text-align: center;
    margin: 50px auto;
  }
}



